.sidebar {
    position: fixed;
    width: 15%;
    top: 0;
    bottom: 0;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.container {
    padding: 2rem 2rem;
}

.logo {
    font-size: 3rem;
    font-family: var(--font-logo1);
    text-align: center;
    margin: 0;
}

.user {
    text-align: center;
    margin: 2rem 0;
}


.user-avatar img {
    display: block;
    margin: 0 auto;
    width: 4rem;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    margin-top: 0.5rem;
    font-family: var(--font-heading);
    font-weight: 400;
}

.nav-list {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
}

.icon {
    font-size: 1rem;
}

.active {
    color: #fff;
}